.contact-section {
  margin: 2rem 0rem;
  padding: 2rem;
  background-color: #ffffff;
  text-align: center;
}

.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #222;
}

.contact-section p {
  color: #555;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.contact-links a {
  font-size: 2rem;
  transition: transform 0.3s ease;
}

.contact-links a[aria-label="Email"] {
  color: #D44638; 
}

.contact-links a[aria-label="LinkedIn"] {
  color: #0077B5; 
}

.contact-links a[aria-label="GitHub"] {
  color: #181717; 
}

.contact-links a:hover {
  transform: scale(1.2);
}
