.resume-section {
  margin: 4rem 3rem;
  border-radius: 8px;
  padding: 6rem 0rem;
  text-align: center;
  background: url('D:\VS CODES\gowshick-portfolio\public\assets\profile_2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  position: relative;
  color: #ffffff; 
}

.resume-section * {
  position: relative;
  z-index: 2;
}

.resume-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.resume-section p {
  color: #eaeaea;
  margin-bottom: 1.5rem;
}

.btn-resume {
  background-color: #007acc;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn-resume:hover {
  background-color: #005f99;
}
